# reject OS X specific files
*.DS_Store

# ignore the backup-files Kate (a KDE-editor) writes
.*~
# vim backup files
.*.swp

# ignore .directory-files
.directory
*/.directory

coverage
coverage.data

cleaning.html

pkg/*

doc/
.yardoc/
tmp/
.bundle
